* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

ul div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div button {
    padding: 0.3rem;
}